{% extends 'basic.html' %}
{% block css %}
<style>
	html,
	body {
		background-color: white;
		color: #375eea;
		margin: 0;
		width: 100%;
	}

	.card {
		width: 23.5rem;
		background-color: #f5f7ff;
		border: none;
		border-radius: 15px;
		border-color: black;
		height: 15rem;
		color: rgb(0, 0, 0);
		font: sans-serif;
		margin-left: 25px;
		margin-top: 56px;
		text-align: center;
		box-shadow: 0px 0px 13px 0px rgba(28, 34, 55, 0.75);
		-webkit-box-shadow: 0px 0px 13px 0px rgba(28, 34, 55, 0.75);
		-moz-box-shadow: 0px 0px 13px 0px rgba(28, 34, 55, 0.75);
		transition: all 0.4s ease-out;
	}

	.card:hover {
		cursor: pointer;
		transform: scale(1.05);

	}

	.cd-title {
		margin-top: 18px;
		font-size: 27px;
		color: #1c2237;
	}

	.cdb,
	img {
		border: none;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	a {
		text-decoration: none;
	}

	.fir-part,
	.sec-part {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		align-content: center;
	}

	.fir-part {
		margin: 5% 0;
	}

	.sec-part {
		background-color: #1c2237;
		color: white;
		margin-top: 5%;
		padding: 50px;
	}

	h1 {
		text-align: center;
		background-color: #1c2237;
		color: white;
		font-size: 50px;
		padding: 30px;
		margin-top: 0px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	h8 {
		margin-top: 90px;
	}
</style>
{% endblock css %}
{% block body %}
<hr style="background-color:white;">
<div style = "background:#073f50; padding: 10px;margin-left : 15px; margin-right:15px">
<h3 style="background:#073f50; color:white; text-align:center; ">COMPLETED COMPLAINTS</h3>
</div>
{% for i in allcomplains %}
{% if i.status is 0 %}
<div class="row fir-part" style="display: flex;">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{i.heading}}</h5>
					<p class="card-text">{{i.description}}</p>
					<h8>{{i.complain_response_date}}</h8>
					<br>
					<a href="/faculty/read/{{i.id}}" class="btn btn-primary">Go to details</a>
				</div>
			</div>
		</div>
		<div>
		</div>
	</div>
</div>
{% endif %}
{% endfor %}
<br> <br><br> <br><br> <br><br> <br>
<div style = "background:#073f50; padding: 10px;margin-left : 15px; margin-right:15px">
<h3 style="background:#073f50; color:white; text-align:center; ">INCOMPLETED COMPLAINTS</h3>
</div>
{% for i in allcomplains %}
{% if i.status is not 0 %}
<div class="row fir-part" style="display: flex;">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{i.heading}}</h5>
        <p class="card-text">{{i.description}}</p>

		  <h8 >{{i.complain_response_date}}</h8>
		  <br>
          <a href="#" class="btn btn-primary">SEND TO HIGHER</a>
      </div>
    </div>
  </div>
    <div>
</div>
</div>
</div>
{% endif %}
{% endfor %}

<button type="button" class="btn" style="margin-left:90%; background:blue; margin-bottom: 150px;"><a href="/faculty/complainform/" style="color: white;" >Complaints</a></button>


<!--<div class="btn-container">-->
<!--	<p><a class="animation-btn" href="/all/upload">+ Create</a></p>-->
<!--</div>-->

<!-- Footer -->
<footer class="page-footer font-small pt-4" style="background-color: #05124d; color: aliceblue;">
	<div class="container text-center text-md-left">
	  <div class="row text-center text-md-left mt-3 pb-3">
		<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Praaki</h6>
		  <p> The internet has revolutionised the way we do our shopping. The businessman regards the internet as a modern effective tool for business transactions. Online shopping is the act of purchasing products or services over the internet..</p>
		</div>
		<hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
		<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
		  <p>
			<a href="#!">Gaming Mouse</a>
		  </p>
		  <p>
			<a href="#!">Expensive Wrist Watches</a>
		  </p>
		  <p>
			<a href="#!">Laptop</a>
		  </p>
		  <p>
			<a href="#!">Shoes</a>
		  </p>
		</div>
		<hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
		<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
		  <p>
			<a href="/shop/">Home</a>
		  </p>
		  <p>
			<a href="/shop/checkout">Your Account</a>
		  </p>
		  <p>
			<a href="/shop/about">About Us</a>
		  </p>
		  <p>
			<a href="/shop/contact">Help</a>
		  </p>
		</div>
		<hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
		  <p>
			<i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
		  <p>
			<i class="fas fa-envelope mr-3"></i> mycart2403@gmail.com</p>
		  <p>
			<i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
		  <p>
			<i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
		</div>
	  </div>
	  <hr style=" border-top: 1px solid #f8f9fa;">
	  <div class="row d-flex align-items-center">
  
		<!-- Grid column -->
		<div class="col-md-7 col-lg-8">
		  <p class="text-center text-md-left">© 2020 Copyright:
			<a href="#">
			  <strong> mycart.com</strong>
			</a>
		  </p>
		</div>
		<div class="col-md-5 col-lg-4 ml-lg-0">
		<div class="row">
			  <div class="col-md-12 py-5">
				<div class="mb-5 flex-center">
				  <a href="https://twitter.com">
					<i ><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" style="width: 12%; margin-top: 1%;"> </i>
		  </a>
				  <a href="https://instagram.com">
					<i> <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" style="width: 12%; margin-top: 1%; margin-left: 3%;"></i>
				  </a>
				  <a href="https://github.com">
					  <i> <img src="https://user-images.githubusercontent.com/6385983/34427109-5772d042-ec0c-11e7-896d-7e9096b92856.png" style="width: 12%; margin-top: 1%; margin-left: 3%; border-radius: 8px; border-top:  1px;"></i>
					</a>
					<a href="https://youtube.com">
					<i ><img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/youtube-logo-png-picture-13.png" style="width: 16%; margin-top: 1%; margin-left: 2%"> </i>
				  </a>
				  <a href="https://facebook.com">
					<i ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg-JpfC4gKgHEHQeUuv4LrEpy5In1LnWkwgwMTxE_SIGHeG4EaPw4juf0w6nn5SDQj5mw&usqp=CAU" style="width: 12%; margin-top: 1%; margin-left: 2%; border-radius: 8px;"> </i>
				  </a>
				  <a href="https://google.com">
					<i ><img src="https://ipullrank.com/wp-content/uploads/2020/07/png-transparent-google-logo-g-suite-google-guava-google-plus-company-text-logo.png" style="width: 12%; margin-top: 1%; margin-left: 2%; border-radius: 50%"> </i>
				  </a>
				</div>
			  </div>
			</div>
		</div>
	  </div>
		</div>
  </footer>
{% endblock %}

{% block js%}

{% endblock js %}