{% extends 'basic.html' %}


{% block body %}

<header>
    <div class="kitt position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center " style="background:#057b8d ">
        <div style = "justify-content : center; color: white">
            <h1 class="display-4 fw-normal" ><b>About Us</b></h1>
          <p class="lead fw-normal">We are here to help you solve and track your complain so that you can have NO ISSUES.</p><br>
          <p class="lead fw-normal">Customer complaints can be defined as the gaps between what business promises in terms of the product or services and what customers get. It is a mismatch between how customers perceive the brand and where they fail to get the desired customer service experience.
          There could be different types of customer complaints. It could be related to: Improper communication, Internal processes or Poor quality of service</p>
          <p class="lead fw-normal">Realizing that a complaint is an opportunity makes it easier to turn conflict into positive change. Customer complaints can tell you how to resolve issues – if you listen to them carefully.</p>
          <br><br>
          <h1 class="display-4 fw-normal" ><b>Our Team</b></h1>
          <p class="lead fw-normal"> Akanksha Bhadauria<br>
          Ashna Agrawal<br>
          Mili Singh<br>
          Palak Goel<br>
          Prabhav Agrawal</p>
        </div>

        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    </header>

    {% endblock %}
