{% extends 'basic.html' %}
{% block css %}
    .container {
        width: 55.5rem;
        background-color: #057b8d;
        border-radius: 5px;
        color: rgb(253, 224, 224);
        font: arial;
        padding: 50px;
        margin-top: 3%;
        font-size: 20px;
        box-shadow: 0px 0px 7px 0px black;
        -webkit-box-shadow: 0px 0px 7px 0px black;
        -moz-box-shadow: 0px 0px 7px 0px black;
        transition: all 0.4s ease-out;
    }

    .save {
        border-color: black;
        border-radius: 5px;
        background:#052a36;
        color: white;
        margin-top: 5%;
        margin-left: 5%;
        width: 90%;
        height: 60%;

    }
{% endblock %}


{% block body %}
<!-- <div style="width: 18rem; ">
   <form method="POST" class="post-form">
       {% csrf_token %}
       {{ form.as_p }}
       <button type="submit" class="save btn btn-default">Save</button>
   </form>
</div> -->
<h2 style = "margin-top : 40px;"><center><b>Write your Complaint<b><center></h2>
<div class="container">
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save">Save</button>
    </form>
</div>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% endblock %}