{% extends 'basic.html' %}
{% block css %}
	.nav-item-complain {
		color: #fff!important;
	}
{% endblock %}
{% block body %}
<div class="container p-4">
    <div class="row">
        {% for c in complains %}
        <div class="col-lg-4 col-md-6 col-sm-12 pb-4">
            <div class="card h-100 p-4">
                <h4>{{c.heading}}</h4>
                <p class="text-muted">{{c.complain_response_date}}|{{c.registered_to}}</p>
                <p>{{c.description}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<button type="button" class="btn" style="margin-left:90%; background:#05124d; margin-bottom: 150px;"><a href="/faculty/complainform/" style="color: white;" >Complaints</a></button>
<footer class="page-footer font-small pt-4" style="background-color: #05124d; color: aliceblue;">
	<div class="container text-center text-md-left">
	  <div class="row text-center text-md-left mt-3 pb-3">
		<div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Praaki</h6>
		  <p> The internet has revolutionised the way we do our shopping. The businessman regards the internet as a modern effective tool for business transactions. Online shopping is the act of purchasing products or services over the internet..</p>
		</div>
		<hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
		<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
		  <p>
			<a href="#!">Gaming Mouse</a>
		  </p>
		  <p>
			<a href="#!">Expensive Wrist Watches</a>
		  </p>
		  <p>
			<a href="#!">Laptop</a>
		  </p>
		  <p>
			<a href="#!">Shoes</a>
		  </p>
		</div>
		<hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
		<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
		  <p>
			<a href="/shop/">Home</a>
		  </p>
		  <p>
			<a href="/shop/checkout">Your Account</a>
		  </p>
		  <p>
			<a href="/shop/about">About Us</a>
		  </p>
		  <p>
			<a href="/shop/contact">Help</a>
		  </p>
		</div>
		<hr class="w-100 clearfix d-md-none" style=" border-top: 1px solid #f8f9fa;">
		<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
		  <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
		  <p>
			<i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
		  <p>
			<i class="fas fa-envelope mr-3"></i> mycart2403@gmail.com</p>
		  <p>
			<i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
		  <p>
			<i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
		</div>
	  </div>
	  <hr style=" border-top: 1px solid #f8f9fa;">
	  <div class="row d-flex align-items-center">
  
		<!-- Grid column -->
		<div class="col-md-7 col-lg-8">
		  <p class="text-center text-md-left">© 2020 Copyright:
			<a href="#">
			  <strong> mycart.com</strong>
			</a>
		  </p>
		</div>
		<div class="col-md-5 col-lg-4 ml-lg-0">
		<div class="row">
			  <div class="col-md-12 py-5">
				<div class="mb-5 flex-center">
				  <a href="https://twitter.com">
					<i ><img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png" style="width: 12%; margin-top: 1%;"> </i>
		  </a>
				  <a href="https://instagram.com">
					<i> <img src="http://assets.stickpng.com/images/580b57fcd9996e24bc43c521.png" style="width: 12%; margin-top: 1%; margin-left: 3%;"></i>
				  </a>
				  <a href="https://github.com">
					  <i> <img src="https://user-images.githubusercontent.com/6385983/34427109-5772d042-ec0c-11e7-896d-7e9096b92856.png" style="width: 12%; margin-top: 1%; margin-left: 3%; border-radius: 8px; border-top:  1px;"></i>
					</a>
					<a href="https://youtube.com">
					<i ><img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/youtube-logo-png-picture-13.png" style="width: 16%; margin-top: 1%; margin-left: 2%"> </i>
				  </a>
				  <a href="https://facebook.com">
					<i ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg-JpfC4gKgHEHQeUuv4LrEpy5In1LnWkwgwMTxE_SIGHeG4EaPw4juf0w6nn5SDQj5mw&usqp=CAU" style="width: 12%; margin-top: 1%; margin-left: 2%; border-radius: 8px;"> </i>
				  </a>
				  <a href="https://google.com">
					<i ><img src="https://ipullrank.com/wp-content/uploads/2020/07/png-transparent-google-logo-g-suite-google-guava-google-plus-company-text-logo.png" style="width: 12%; margin-top: 1%; margin-left: 2%; border-radius: 50%"> </i>
				  </a>
				</div>
			  </div>
			</div>
		</div>
	  </div>
		</div>
  </footer>
{% endblock %}
