{% extends 'basic.html' %}
{% block body %}



<form method="post" id="complain_form" novalidate=""><input type="hidden" name="csrfmiddlewaretoken" value="arReP6elGG4nGsPeX4YiOKB192HnGH5Rluef4KbVt08eyBxFAMWOAhH3oo1GB9fK">
<div>







  <fieldset class="module aligned ">



        <div class="form-row field-heading">


                <div>


                        <label class="required" for="id_heading">Heading:</label>

                            <input type="text" name="heading" class="vTextField" maxlength="300" required="" id="id_heading" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">



                </div>

        </div>

        <div class="form-row field-description">


                <div>


                        <label class="required" for="id_description">Description:</label>

                            <input type="text" name="description" class="vTextField" maxlength="5000" required="" id="id_description">



                </div>

        </div>

        <div class="form-row field-registered_to">


                <div>


                        <label class="required" for="id_registered_to">Registered to:</label>

                            <div class="related-widget-wrapper">
    <select name="registered_to" required="" id="id_registered_to">
  <option value="" selected="">---------</option>

  <option value="1">Faculty object (1)</option>

</select>

        <a class="related-widget-wrapper-link change-related" id="change_id_registered_to" data-href-template="/admin/faculty/faculty/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected faculty"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_registered_to" href="/admin/faculty/faculty/add/?_to_field=id&amp;_popup=1" title="Add another faculty"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>

</div>



                </div>

        </div>

        <div class="form-row field-date_end">


                <div>


                        <label class="required" for="id_date_end_0">End Date:</label>

                            <p class="datetime">
  Date: <input type="text" name="date_end_0" class="vDateField" size="10" required="" id="id_date_end_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink0"><span class="date-icon" title="Choose a Date"></span></a></span>

<br>
  Time: <input type="text" name="date_end_1" class="vTimeField" size="8" required="" id="id_date_end_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink0"><span class="clock-icon" title="Choose a Time"></span></a></span>


<br><span class="timezonewarning">Note: You are 5.5 hours ahead of server time.</span></p>



                </div>

        </div>

        <div class="form-row field-complain_response_date">


                <div>


                        <label class="required" for="id_complain_response_date_0">Complain response date:</label>

                            <p class="datetime">
  Date: <input type="text" name="complain_response_date_0" value="2022-04-23" class="vDateField" size="10" required="" id="id_complain_response_date_0"><span class="datetimeshortcuts">&nbsp;<a href="#">Today</a>&nbsp;|&nbsp;<a href="#" id="calendarlink1"><span class="date-icon" title="Choose a Date"></span></a></span>

<br>
  Time: <input type="text" name="complain_response_date_1" value="06:33:37" class="vTimeField" size="8" required="" id="id_complain_response_date_1"><span class="datetimeshortcuts">&nbsp;<a href="#">Now</a>&nbsp;|&nbsp;<a href="#" id="clocklink1"><span class="clock-icon" title="Choose a Time"></span></a></span>


<br><span class="timezonewarning">Note: You are 5.5 hours ahead of server time.</span></p><input type="hidden" name="initial-complain_response_date_0" value="2022-04-23" id="initial-id_complain_response_date_0"><input type="hidden" name="initial-complain_response_date_1" value="06:33:37" id="initial-id_complain_response_date_1">



                </div>

        </div>

        <div class="form-row field-user">


                <div>


                        <label class="required" for="id_user">User:</label>

                            <div class="related-widget-wrapper">
    <select name="user" required="" id="id_user">
  <option value="" selected="">---------</option>

  <option value="2">admin</option>

  <option value="1">akku</option>

</select>
                                <a class="related-widget-wrapper-link change-related" id="change_id_user" data-href-template="/admin/auth/user/__fk__/change/?_to_field=id&amp;_popup=1" title="Change selected user"><img src="/static/admin/img/icon-changelink.svg" alt="Change"></a><a class="related-widget-wrapper-link add-related" id="add_id_user" href="/admin/auth/user/add/?_to_field=id&amp;_popup=1" title="Add another user"><img src="/static/admin/img/icon-addlink.svg" alt="Add"></a>

</div>
                </div>
        </div>
        <div class="form-row field-status">
                <div>
                        <label class="required" for="id_status">Status:</label>
                            <input type="number" name="status" value=" " class="vIntegerField" required="" id="id_status">
                </div>
        </div>
</fieldset>
<div class="submit-row">
<input type="submit" value="Save" class="default" name="_save">
<input type="submit" value="Save and add another" name="_addanother">
<input type="submit" value="Save and continue editing" name="_continue">
</div>
    <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="complain" async="">
    </script>
<script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]">
</script>
</div>
</form>
{% endblock %}