{% extends 'basic.html' %}

{% block body %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Previous Complains</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h2>Hostel Issues</h2>
            <p>Issue regarding the cleaning of hostel rooms. Request to clean the rooms on alternate days instead of once in a week. </p>
            <a href="#" class="icon-link">
                Complain Information
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
        <div class="feature col">
            <h2>Academic Issues</h2>
            <p>Timetable not followed in classes. Request to look into the matter and have a new timetable formed.</p>
            <a href="#" class="icon-link">
                Complain Information
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#chevron-right"></use>
                </svg>
            </a>
        </div>
    </div>
</div>
{% endblock %}